
  div.article-content{
    max-width:700px;

    margin-left:40px;
 
}

div.article-container{
   display: flex;
 
   margin: 0 auto 70px auto;
}

img.article-img{
    width:400px;
}
h1.article-title{
    font-size:24pt;
    margin-bottom:10px;
    font-weight: 600;
}

p.article-text{
    font-size:12pt;
    margin-bottom:30px;
  
}

.info-wrapper{
margin: 16px 0;
}

.info-head{
    font-size:16pt;
 font-weight:600;
}

/*
a.info{
    font-weight:600;  

}*/
