@charset "UTF-8";

 /*ーーーーーーーーー左サイド・スタジオ中身ーーーーーーーー*/
 .sns-icon{
    width:40px;
    margin-left:16px;
    }
    /*twitterのicon２回りくらい小さいんだが*/
     .sns-icon-twitter{
    width:60px;
    margin-left:16px;
     }
     .sns-link:hover{
         opacity:0.5;
     }
     .studio-sns{
        /*float: right;*/
        display:inline-block;
        margin:26px 0 0 0;
        left:10%;
        position: relative;
     }
.labview {
    position: relative;
    display: flex; /*ここを外すと右サイドが下に落ちる*/
}
    .labview .left {
      width: 70%;
      position: relative; 
    }
      .topBar .title {
        width: 90%;
        display: flex;
        align-items: flex-start;
    }
    /*アイコンセットsns-iconとスタジオ名セットstudioTitleTextを、親囲いstudioTitleに display: flex;することで横並びにする*/
    .topBar .title .inner-title {
        display: flex;
    }
    /*タイトル部分全体左に縦棒を引く*/
        .topBar .title {
          width: 80%;
          text-align: left;
          border-left: solid 6px #E80000;
          padding-left: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #828282;
          
         }
            /*スタジオ名の表示*/
        .topBar .title .inner-title .titleText h2 {
            letter-spacing: 0.05em;
            width: 100%;
            margin: -5px 0 0px 0px;
            font: bold 20pt , sans-serif; 
        }
        /*コアの表示*/
          .topBar .title .inner-title .titleText h4 {
            font: bold 12pt, sans-serif; 
            margin-bottom:10px;
        }
  
      
      .labview .left p {
        width: 80%;
    }

    /*スタジオ説明文の体裁*/
        .labview .left p.studio-description {
        margin-top: 20px;
          font-size :12pt;
          line-height: 18pt;
          width: 75%;
         }

         .faculty-div{
             margin-top: 40px;
         }
         /*教員サイトリンク*/
         .faculty-text-div > p {
            font-size :16pt;    
        }
         /*教員名と教授か准教授*/
        .faculty-text-div >span{
            font-size :16pt;
          display:inline-block;/*これ書かないと下マージンが効かない*/
          margin:0 0.7em 20px 0;
          /*display: flex;*/
        }
        /*見出し「担当教員」*/
        .faculty-div > h3{
            font-size :20pt;
            margin-bottom:10px;
        }

        .studio-faculty-img{
            width:160px;
            height: 160px;
            float:left;
            margin-right:20px;
   
        }
   
.faculty-contents-div{

}
.faculty-text-div{

}

        .studio-photo{
            width:90%;
            height: auto;
        }
 

 
      
 /*ーーーーーーーーー右サイド・スタジオリストーーーーーーーー*/
    .labview .right {
      position: relative;
      width: 200px; 
    }

    /*コア間の隙間をとる*/
      .labview .right .coreBox {
       /* width: 200px;
        display: flex;
        justify-content: space-between;*/
        margin-bottom: 50px; 
    }
    
    .labview .right p {/*右サイド　スタジオリストの pエレメント　コア名メディアアートコア・メディア創生　プロダクトデザインコア*/
        /*letter-spacing: 0.3em;*/
        margin: 0 0 20px 0;
        font: bold 12pt;
        color: #999999;
     }


    .studio-list-item {
        margin:16px 0;
    }

   #here {
        color: #000;
      }

    .studio-list-item > a:link {
        color: #999999;
      }
      .studio-list-item > a:visited {
        color:#999999;
      }
      .studio-list-item > a:hover {
        color:#191919;
        cursor: pointer;
      }
      .studio-list-item > a:active {
        color:#DDDDDD;
      }

       /*コア名の下に線を引く*/
      p.core-underLine{
        border-bottom: 1px solid #828282;
      }
   