
.faculty {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top:30px;
 }
    .faculty .member {
      background: #fff;
      width: 520px;
      height: 200px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: flex-start;
      margin: 0 50px 40px 0px;
      color: #000; 
    }
      .faculty-img {
        background: #828282;
        width: 180px;
        height: 180px; 
        margin-right:20px;
    }
      .faculty .member .profile {
        width: 340px;
        /*line-height: 1.4em;*/
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start; 
    }
        .faculty .member .profile .name {
          width: 100%;
          margin-bottom: 5px; 
        }
          .faculty .member .profile .name h2 {
            height: 20px;
            display: inline-block;
           font-size: 16pt; 
           font-weight: 600;
           margin-bottom:16px;
        }
        .faculty .member .profile p {
            width: 100%;/*要素の回り込み防止*/
        }
        p.faculty-studio{
            font-weight: 400;
            font-size: 11pt; 
            margin-bottom:10px;
        }
        p.faculty-major{
          font-weight: 400;
          font-size: 11pt; 
        }
        /*英語表記の人名*/
            .faculty .member .profile .name p {
              font-size:10pt; 
            color :#828282;
            font-weight: 400;
            margin-bottom:10px;
            /*margin-left: 2px; 英語少し左寄りに見える？*/
        }
         /*教授か准教授*/
          .faculty .member .profile .name span {
            width: 100%;
            margin-left: 20px;
            font-size:12pt; 
            font-weight: 600;
        }
      
        .sitelink-icon {
            background: none;
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 3px 0 0 5px; 
        }

        .faculty a{
            font-weight: 600;
        }
  