
  /*style for HOME*/
  .top-title{
    max-width:900px;
    margin: 0 auto;
  }
 .sectionTitle{
     text-align: center;
 }
 
   
 .eachSection{/*各セクション間の余白*/
     margin:  120px 0; 
 
   }
     
 .top-title > h4{
   font-size:24px;
   font-weight: 500;
   color: #828282;
 }

      
 .top-title > h1{
  font-size:48px;
  font-weight: 500;
}

 .top-img{
     margin:0 auto;
     text-align: center;
 }
 .sectionDescription{
     text-align: center;/*1行ものには必要*/
     margin: 30px auto;
     width:600px;
 }
 
 /*出だし*/
   #introduction{
     margin:  10px auto 0 auto;
     width:900px;
     display:flex;
   }
 
 #intro-sentense{
 font-size: 18px;
 padding: 70px 40px 0px 0px;
 width:460px;
 
 }
 
 #intro-sentense > p{
 margin-bottom:20px;
 font-size:18px;
  }
  

 #top-logo-image{
     display:inline-block;
 }
 
 
 /*news*/
 .flexBox_topNews {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width:900px;

}


 /*faculty*/
  /*教員画像のスライドショー*/
  .faculty-slide-container{
    max-width:700px;
   margin:0 auto;/*コンテナ自身の中央揃え*/
   display:flex;
   justify-content:space-between;
   
    }
   
    .faculty-slide{
   width:200px;
   
    }
    .fadeout{
     opacity: 0;
     transition: 3s ease-in-out;
     -webkit-transition: 3s ease-in-out;
     }
     .fadein{
     opacity: 1;
     transition: 3s ease-in-out;
     -webkit-transition: 3s ease-in-out;
     }
 

     /*Works*/

     p.a-work{
       width:180px;
     
      
     }
     img.work-img {
      width : 180px;
     height : 180px;
     object-fit: cover;/*アスペ比を変えずにトリミング*/
       display:inline-block;
       margin-bottom:20px

     }

     .flexBox_topWorks{
      max-width:800px;
      margin: 0 auto;
       display:flex;
       flex-wrap: wrap;
       justify-content:space-between;
     }

 /*Aceess*/
 
 #accessMapcantainer{
     
 }
 #map { 
     width: 600px;
     height: 400px;
     margin:0 auto;
 }
 





 /*------------ローディングアニメーション-------*/
 .loadingContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 2.2s ease; /* 1.2秒でフェードアウト */
          transition: all 2.2s ease;
  color: #fff; /* ローディングアニメーションカラー */
  background-color: #fff; /* 背景カラー */
}




/* ローディング表示を消すための定義 */
.loadingContainer.loaded{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}





/* ローディングアニメーション 中央揃えに*/
.loadPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 520px;
  height:520px;
}
 
