
/*ここからnews*/
img.article-img{
    width: 200px;
    height: 200px; 
    float:left;
}

#articles{
    max-width:1000px;
    margin: 0 auto;
}

.an-article{
    margin:60px 0px;
}
.article-text-container{
margin: 40px 0px 0px 200px;/*この辺の回り込み　いい方法忘れたので後でなんとかする*/
width: calc(100% - 200px);  
padding:0px 0px 0px 16px;
}

.article-title{
    font-size:20px;
    text-decoration: none ;
    color:#11114d;
    margin:10px;
}
.update-date{
    margin:10px;
    
}
.article-contents{
    margin:10px;
    
}
.float-clear{
    clear:both;
}