@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    background-color: floralwhite;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
header{
    background-color: floralwhite;
    border-bottom:1px solid midnightblue;
    position: fixed;
    width:100%;
    z-index: 10;
}
ul{
    margin: 30px auto;
    padding: 0 50px;
    text-align: center;
}
li{
    color: midnightblue;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 700;
    display:inline-block;
    width: 150px;
}
li:hover{
    color:coral;
}

/*img{
    box-shadow: 10px 10px rgba(1,1,100,0.8);
    margin:0 80px;
}*/
h1{
    font-family: 'Noto Sans JP', sans-serif;
    color: #11114d;
}
h2{
    font-family: 'Noto Sans JP', sans-serif;
    color: #11114d
}
h3{
    font-family: 'Noto Sans JP', sans-serif;
    color: #11114d;
    font-size: 13px;
}
a {
    text-decoration: none ;
    color:#11114d;
    margin:0 19px;
}
a:hover{
    color:coral;
}

.container{
    max-width:1000px;
    margin: 0 auto;
   }



   /*ここからnews*/
img.article-img{
    width: 200px;
    height: 200px; 
    float:left;
}


.article-text-container{
    margin:10px;

}

.article-title{
    font-size:20px;
    text-decoration: none ;
    color:#11114d;
    margin:10px 0px;
 
}
.update-date{
    margin:10px;
}
.article-contents{

}
.float-clear{
    clear:both;
}