 /*ここから共通設定*/
 @charset "UTF-8";


 @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

 /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */
 
 /*デフォルトの設定があるとスタイリング時にわかりにくいので、こちらとりあえず削除します*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline; }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block; }
 
 
 /*各種見出しとかタグのデフォルト設定*/
 h1 {
     font-size: 48px;
     font-weight: 300;
     color: #000;
   }

   h2.sectionTitle {
       font-weight: 600;
       font-size: 36px;
       color: #000;
       margin:20px 0px;
     }
   h1.page-title{
    margin-bottom:40px;
    float: left;
   }

   .page-description{
     display:inline-block;
     margin: 30px 0px 0 40px;
     color:#646464;
  
   }
     p{
       font-size: 16px;
     }
     ol, ul {
         list-style: none; 
     }
     a { 
         text-decoration: none ;
         cursor: pointer;

     }
 
    header a:link {
         color: #999999;
       }
      header a:visited {
         color:#999999;
       }
      header a:hover {
         color:#191919;
         cursor: pointer;
       }
      header a:active {
         color:#DDDDDD;
       }
 
     
       .btn-flat-simple {
         position: relative;
         display: inline-block;
         font-weight: bold;
         padding: 0.35em 1.5em;
         text-decoration: none;
         color: #fff;
         background: #000;
         transition: .4s;
        
       }
       
       .btn-flat-simple:hover {
      opacity:0.7;
         color:#fff;
       }
     
       .moreButton{
         text-align: center;
         margin: 30px 0;
       }
 
 
 body{
  background-color:#ffffff;
  margin: 0px auto;
  font-family: 'Open Sans','M PLUS 1p',sans-serif;
 max-width:1200px;
  }
 
  
  footer {
    border-top: 1px solid #c4c4c4;
     position: relative;
    /* display: table;*/
     width: 100%;
     height: 120px;
     bottom: 0px;
     justify-content: center;
     text-align: center;
     line-height: 1.5em;
     letter-spacing: 0.8px;
     margin: 150px 0 0 0;
     padding: 40px 0 0 0;
     color: #777; }
     footer p.sd {
       font-size:8pt;
       margin-bottom: 13px; }
     footer p.ja {
       font-size:8pt; }
     footer a {
       text-decoration: none; }
       footer a.sd {
        font-size:8pt; }
         footer a.sd:visited {
           color: #777; }
         footer a.sd:link {
           color: #777; }
 
  .float-clear{
     clear:both;
 }
 
 /*グロナビ　ヘッダー*/
 header {
     width: 100%;
     padding: 15px 0;
     margin: 30px 0 auto;
     text-align: center;
     border-bottom: 1px solid #c4c4c4;
   }
   
   .nav-list{
     text-align: center;
     padding: 10px 0;
     margin: 0 auto;
   }
 
   .nav-list-item{
     list-style: none;
     display: inline-block;
     margin: 0 33px;
     font-size: 20px;
   }

   /*グロナビのうち現在いる親の階層　を黒くする*/
.nav-list-item >a.here{
  color:#000;
}

 
   /*header意外を取り囲む*/
 
 .contents {
    /* min-height: 500px;*/
     background-color: #FFF;
     margin: 100px 30px 10px 30px;
     animation: fadeIn 3s ease 0s 1 normal;
     -webkit-animation: fadeIn 3s ease 0s 1 normal;
   
 }
 
 
     /*画像のスライドショー ref:https://tech-dig.jp/js-slider//*/
     .slider {
         position: relative;
     }
     
     .slider img {
         width: 600px;/*変えた*/
         height: 400px;/*付け加えた*/
         vertical-align: bottom;
         backface-visibility: hidden;
         -webkit-backface-visibility: hidden;
     }
     
     .appear {
         animation: fadeIn 2s ease 0s 1 normal;
         -webkit-animation: fadeIn 2s ease 0s 1 normal;
     
         backface-visibility: hidden;
         -webkit-backface-visibility: hidden;
     }
     
     @keyframes fadeIn {
         0% {
             opacity: 0.2
         }
     
         100% {
             opacity: 1
         }
     }
     
     @-webkit-keyframes fadeIn {
         0% {
             opacity: 0.2
         }
     
         100% {
             opacity: 1
         }
     }
     
     .slider i.fas {
         color: rgba(25, 25, 25, 0.7);
         font-size: 2.5em;
         position: absolute;
         top: 50%;
         bottom: 50%;
     }
     
     .slider i.fa-arrow-circle-right {
         right: 2%;
     }
     
     .slider i.fa-arrow-circle-left {
         left: 2%;
     }
     .thumbnail{
         /*読み解く時間があれなのでとりあえず強制非表示*/
         display: none;
     }
     
     .thumbnail ul {
         margin: 0;
         padding: 0;
         list-style: none;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
         -ms-flex-flow: row wrap;
         flex-flow: row wrap;
     }
     
     .thumbnail ul li {
         margin: 10px 0;
         width: 23.5%;
         margin-right: 2%;
         cursor: pointer;
         -webkit-filter: grayscale(90%);
         filter: grayscale(90%);
     }
     
     .thumbnail ul li:nth-child(4n) {
         margin-right: 0;
     }
     
     .thumbnail ul li:hover {
         -webkit-filter: grayscale(0%);
         filter: grayscale(0%);
     }
     
     .thumbnail ul li.selected {
         -webkit-filter: grayscale(0%);
         filter: grayscale(0%);
     }
     
     .thumbnail ul li img {
         width: 100%;
     }
 
     .scroll-top {
         position: fixed;
         width: 100px;
         height: 50px;
         bottom: 40px;
         right: 40px;
         cursor: pointer;
         z-index: 100;
         text-align: center;
      }
         .scroll-top img {
           width: 30px;
           height: auto; 
         }
         .scroll-top p {
           font-size: 17px;
           color: #535353;
           font: bold 15pt "Helvetica Neue", Helvetica, Arial, sans-serif;
           letter-spacing: 0.5px;
           padding-top: 8px; 
         }
 

  /*topにもどる*/
  .js-scroll-fadein {
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}
.js-scroll-fadein.is-fadein {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------
  arrow
--------------------------------*/
.arrow {
  position: fixed;
  right: 16px;
  bottom: 12px;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
.arrow:hover {
  opacity: 0.8;
  bottom: 15px;
  -webkit-filter: drop-shadow(3px 3px 3px #828282);
}
.arrow:before, .arrow:after {
}

/*
.arrow:before {
  top: 11px;
}
.arrow:after {
  top: 21px;
}*/
  /*ここまで共通設定*/
 
 
  /*style for HOME*/
  .top-title{
    max-width:900px;
    margin: 0 auto;
  }
 .sectionTitle{
     text-align: center;
 }
 
   
 .eachSection{/*各セクション間の余白*/
     margin:  120px 0; 
 
   }
     
 .top-title > h4{
   font-size:24px;
   font-weight: 500;
   color: #828282;
 }

      
 .top-title > h1{
  font-size:48px;
  font-weight: 500;
}

 .top-img{
     margin:0 auto;
     text-align: center;
 }
 .sectionDescription{
     text-align: center;/*1行ものには必要*/
     margin: 30px auto;
     width:600px;
 }
 
 /*出だし*/
   #introduction{
     margin:  10px auto 0 auto;
     width:900px;
     display:flex;
   }
 
 #intro-sentense{
 font-size: 18px;
 padding: 70px 40px 0px 0px;
 width:460px;
 
 }
 
 #intro-sentense > p{
 margin-bottom:20px;
 font-size:18px;
  }
  

 #top-logo-image{
     display:inline-block;
 }
 
 
 /*news*/
 .flexBox_topNews {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width:900px;

}


 
 
 /*Aceess*/
 
 #accessMapcantainer{
     
 }
 #map { 
     width: 600px;
     height: 400px;
     margin:0 auto;
 }
 

 