
body {
  font-family: sans-serif;
}
h1, h2 {
  font-weight: 400;
  color: steelblue;
}
#nomalStudios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}

#englishStudios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}

#nomalFaculty > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}

#englishFaculty > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}

.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}
pre#result {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 9px;
}

.studio-photo1,.studio-photo2{
  width: 200px;
}

.faculty-image,.faculty-image-en{
  width: 200px;
  height: 200px;
}

.link-image{
  width: 200px;
  height: 200px;
}

#loading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#loading img {
position: absolute;
top: 50%;
left: 50%;
}

.hidden {
display: none;
}