// mobile first
$breakpoints: (
 'sm': 'screen and (min-width: 576px)',
 'md': 'screen and (min-width: 768px)',
 'lg': 'screen and (min-width: 992px)',
 'xl': 'screen and (min-width: 1200px)'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ====================

body {
  font-family: sans-serif;
}

#loading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#loading img {
position: absolute;
top: 50%;
left: 50%;
}

.hidden {
display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
  .left_h{
    width: 80%;
    height: 80px;
    float: left;
    nav{
      ul {
        padding-left: -50px;
        li{
          list-style: none;
          display: inline-block;
          a{
            text-decoration: none;
            color: #363636;
            line-height: 80px;
            display: block;
            padding: 0 10px;
            font-size: 1.0rem;
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .right_h{
    width: 20%;
    height: 80px;
    float: right;
    text-align: center;
          a{
            text-decoration: none;
            color: #363636;
            line-height: 80px;
            display: inline-block;
            width: 48%;
            background: #C3C3C3;
            font-size: 1.0rem;
            font-weight: bold;
            &:hover{
              opacity: 0.5;
            }
          }
        }
}
// button
.open{
  margin-top: 80px;
}

/* ========== main-visual ========== */
.main-visual{
  width: 100%;
  height: 800px;
  background: #2B2845;
  color: #fff;
  position: relative;
  .logo{
    position: absolute;
    bottom: -3rem;
    right: 7rem;
    font-size: 30rem;
    color: rgba(43, 40, 69,1);
    text-shadow: 1px 1px 0 #fff,
               -1px 1px 0 #fff,
               1px -1px 0 #fff,
               -1px -1px 0 #fff;
  }
  h1{
    color: #fff;
    padding-top: 150px;
    padding-left: 134px;
    z-index: 1;
  }
  h3{
    padding-top: 20rem;
    padding-left: 50rem;
    font-size: 2rem;
    z-index: 1;
    .second_line{
      margin-left: 3rem;
    }
    .third_line{
      margin-left: 6rem;
    }
  }
}

/* ========== common section title ========== */
// [id^="nomalContentsTitle"]  {
  .section_title{
  color: #363636;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }
  &:before{
    left: 30rem;
  }
  &:after{
    right: 30rem;
  }
}

/* ========== aboutus ========== */
#aboutus p{
  display: block;
  background: #E4EBEF;
  padding: 50px 100px;
}

/* ========== works ========== */
#works {
  img{
    width: 33rem;
    height: 33rem;
  }
  .frame{
    border: 1px solid #707070;
    padding: 3rem 0;
    .container{
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .moreBtn{
      text-align: center;
      a{
        text-decoration: none;
        color: #363636;
        display: inline-block;
        margin: 0 auto;
        &:hover{
          opacity: 0.7;
        }
        p{
          background: #CFCFCF;
          padding: 1rem 4rem;
          margin-top: 3rem;
        }
      }
    }
  }
}

/* ========== curriculum ========== */
#curriculum {
  .bg-gray{
    text-align: center;
    background: #E4EBEF;
    p{
      display: block;
      padding: 50px 100px;
      text-align: left;
    }
    img{
      width: 70%;
      padding-bottom: 3rem;
    }
  }
}

/* ========== studios ========== */
.bg_blue{
  background: #E4EBEF;
  padding: 2rem 6%;
}
#nomalStudios > div {
  margin: 1em 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 33.3%;
  display: inline-block;
  text-align: center;

}
#englishStudios > div {
  margin: 1em 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 33.3%;
  display: inline-block;
  text-align: center;
}
.studio-title {
  font-weight: bold;
  text-decoration: none;
  color: #363636;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
  text-decoration: none;
  color: #363636;
}
pre#result {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 9px;
}

.studio-photo1,.studio-photo2{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

// ========== faculty ==========
#nomalFaculty > div {
  margin: 1em 0;
  padding: 0.5em;
  // background: #f8f8f8;
  min-height: 3em;
}
#englishFaculty > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.faculty-image,.faculty-image-en{
  width: 200px;
  height: 200px;
}

// ========== column ==========
.link-image{
  width: 200px;
  height: 200px;
}

/* ========== admission ==========*/
#admission #nomalAdmissionText{
  background: #E4EBEF;
  padding: 50px 100px;
}
#admission #nomalAdmissionText h4{
  font-size: 25px;
}
#admission #nomalAdmissionText p, ol, ul{
  padding-left: 50px;
  /* padding-bottom: 20px; */
}

/* ========== question ========== */
#question #nomalQText{
  background: #E4EBEF;
  padding: 50px 100px;
}

// ========== access =========
#access{
  .frame{
    border: 1px solid #707070;
    margin-bottom: -0.5rem;
  }
}
// iframe{
//   width: 48%!important;
//   height: 30rem;
// }

/* ========== footer ========== */
footer{
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
}