$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 769px)',
 'lg': 'screen and (max-width: 992px)',
 //  header用
 'xl': 'screen and (max-width: 1310px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ====================

body {
  font-family: sans-serif;
  font-size: 20px;
  @include mq(lg){
    font-size: 15px;
  }
  @include mq(md){
    font-size: 5px;
  }
}
.wrap{
  overflow: hidden;
}

#showloading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.hidden {
display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
  .left_h{
    padding-left: 50px;
    width: 82%;
    height: 80px;
    float: left;
    nav{
      ul {
        padding-left: -50px;
        li{
          list-style: none;
          display: inline-block;
          font-size: 1.0rem;
          @include mq(xl){
            font-size: 0.65rem;
            // padding: 0 0.3rem;
          }
          @include mq(lg){
            font-size: 0.3rem;
          }
          // @include mq(sm){
          //   font-size: 0.2rem;
          // }
          a{
            text-decoration: none;
            color: #363636;
            line-height: 80px;
            display: block;
            padding: 0 0.5rem;
            // font-size: 1.0rem;
            // @include mq(xl){
            //   // font-size: 0.75rem;
            //   padding: 0 0.3rem;
            // }
            // @include mq(lg){
            //   font-size: 1px;
            // }
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

.right_h{
  width: 18%;
  // @include mq(xl){
  //     width: 5.5rem;
  //   }
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}
label {
    display: inline-block;
    float: right;
    margin-left: 5px;
    width: 7rem;
    @include mq(xl){
      width: 5.0rem;
    }
    @include mq(lg){
      width: 4rem;
    }
    line-height: 80px;
    // margin: 0 0 4px 0;
    // padding : 15px;
    // line-height: 1;
    color :#000;
    background: #C3C3C3;
    cursor :pointer;
    a{
      text-decoration: none;
      color: #363636;
    }
}

input {
    display: none;
}
.right_h ul {
    position: absolute;
    top: 80px;
    right: 0;
    width: 7rem;
    @include mq(xl){
      width: 5.0rem;
    }
    @include mq(lg){
      width: 4rem;
    }
    margin: 0;
    padding: 0;
    background :#C3C3C3;
    list-style: none;
}

.right_h li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

#type1:checked ~ #links1 li{
    height: 70px;
    opacity: 1;
    cursor :pointer;
    // padding: 0.3rem 0;
}

}

// button
// .open{
//   margin-top: 80px;
// }

// ==================
.wraper{
  width: 100%;
  padding: 3rem 5rem;
  min-height: 95vh;
  background: #E4EBEF;
  font-weight: normal;
  .first_box{
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    #studios{
      width: 30%;
      float: right;
      @include mq(md){
        width: 100%;
        float: none;
      }
      h3{
        margin-top: 0.5rem;
        font-size: 1.5rem;
      }
      div{
        width: 100%;
        div{
          width: 4rem;
          height: 4rem;
          display: inline-block;
          a{
            img{
              display: block;
              width: 3rem;
              height: 3rem;
              margin: 0 auto;
            }
          }
          span{
            font-size: 0.2rem;
            text-align: center;
          }
        }
      }
    }
    .faculty_title{
      width: 60%;
      float: left;
      @include mq(md){
        width: 100%;
        float: none;
      }
      h1{
        font-size: 2.7rem;
      }
      h4{
        font-size: 1.5rem;
      }
    }
  }
  .second_box{
    width: 100%;
    overflow: hidden;
    .right_box{
      width: 25%;
      text-align: right;
      float: right;
      @include mq(md){
        width: 100%;
        text-align-last: left;
        float: none;
      }
      h3{
        font-size: 2rem;
        font-weight: normal;
        padding-bottom: 1rem;
      }
      h5{
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
    .cp_cssslider{
      width: 70%;
      float: left;
      @include mq(md){
        width: 100%;
        float: none;
      }
      padding-top: 700px; /* 画像の高さ */
      position: relative;
      text-align: center;
      margin-bottom: 3rem;
      }
      .cp_cssslider > img {
      width: 100%;

      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.5s;
      border-radius: 3px;
      box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
      }
      .cp_cssslider input[name='cp_switch'] {
      display: none;
      }
      /* サムネイル */
      .cp_cssslider label {
      margin: 15px 5px 0 5px;
      border: 2px solid #ffffff;
      display: inline-block;
      cursor: pointer;
      transition: all 0.5s ease;
      opacity: 0.6;
      border-radius: 3px;
      }
      .cp_cssslider label:hover {
      opacity: 0.9;
      }
      .cp_cssslider label img {
      display: block;
      width: 100px;
      height: 80px;
      border-radius: 2px;
      }
      .cp_cssslider input[name='cp_switch']:checked + label {
      border: 2px solid #FF7043;
      opacity: 1;
      }
      .cp_cssslider input[name='cp_switch'] ~ img {
      opacity: 0;
      }
      .cp_cssslider input[name='cp_switch']:checked + label + img {
      opacity: 1;
      }
  }
  .text{
    width: 75%;
    margin: 0 auto;
  }

  // ========== toTop ==========
  a.toTop{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #2B2845;
    color: #FFFFFF;
    text-align: center;
    width: 12rem;
    padding: 1.0rem 0.3rem;
    text-decoration: none;
    &:hover{
      opacity: 0.5;
    }
  }
}


/* ========== footer ========== */
footer{
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center!important;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
}