$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
 //  header用
 'xl': 'screen and (max-width: 1310px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ====================

body {
  font-family: sans-serif;
  font-size: 20px;
}
// .wrap{
//   overflow: hidden;
// }

#showloading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.hidden {
display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
  .left_h{
    width: 80%;
    height: 80px;
    float: left;
    nav{
      ul {
        padding-left: 50px;
        li{
          list-style: none;
          display: inline-block;
          a{
            text-decoration: none;
            color: #363636;
            line-height: 80px;
            display: block;
            padding: 0 0.5rem;
            font-size: 1.0rem;
            @include mq(xl){
              font-size: 0.75rem;
              padding: 0 0.3rem;
            }
            @include mq(lg){
              font-size: 0.7rem;
            }
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

.right_h{
  width: 20%;
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}
label {
    display: inline-block;
    float: right;
    margin-left: 5px;
    width: 7rem;
    @include mq(xl){
      width: 5.5rem;
    }
    line-height: 80px;
    // margin: 0 0 4px 0;
    // padding : 15px;
    // line-height: 1;
    color :#000;
    background: #C3C3C3;
    cursor :pointer;
}

input {
    display: none;
}
.right_h ul {
    position: absolute;
    top: 80px;
    right: 0;
    width: 8rem;
    margin: 0;
    padding: 0;
    background :#C3C3C3;
    list-style: none;
}

.right_h li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#type1:checked ~ #links1 li,
#type2:checked ~ #links2 li {
    height: 70px;
    opacity: 1;
    cursor :pointer;
    // padding: 0.3rem 0;
}

}
// button
// .open{
//   margin-top: 80px;
// }

.main-visual{
  width: 100%;
  height: 700px;
  background-image: url(../image/みんなの図書visual-02.jpg);
  background-size: cover;
  background-position: center;
}
.first-text{
  padding: 3rem 3rem;
  h3{
    font-size: 2.0rem;
    margin-bottom: 1rem;
  }
  h5{
    font-size: 1.2rem;
    padding-left: 2rem;
  }
}
#book div{
  background: #E4EBEF;
  margin-bottom: 2rem;
  padding: 3rem 3rem;
  color: #363636;
  span{
    display: block;
  }
  .book-title{
    border-bottom: 1px solid #363636;
    display: inline-block;
    font-size: 2rem;
  }
  .book-writer{
    margin-bottom: 2.0rem;
  }
  .book-reason{
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  .book-teacher{
    display: inline-block;
    padding-left: 3rem;
  }
  .book-text-box{
    width: 90%;
    margin: 0 auto;
    .book-about{
      margin-bottom: 1rem;
    }
    .book-link, .book-link2{
      color: #363636;
      text-decoration: none;
      display: inline-block;
      word-break: break-all;
      &:hover{
        opacity: 0.5;
      }
    }
    .book-link{
      margin-bottom: 0.5rem;
    }
  }
}

/* ========== footer ========== */
footer{
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center!important;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
}