$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ====================

body {
  font-family: sans-serif;
  font-size: 20px;
}
.main-visual{
  width: 100%;
  height: 800px;
  background-image: url(../image/iaLib.jpg);
  background-size: cover;
}
.first-text{
  padding: 3rem 3rem;
  h3{
    font-size: 2.0rem;
    margin-bottom: 1rem;
  }
  h5{
    font-size: 1.2rem;
    padding-left: 2rem;
  }
}
#book div{
  background: #E4EBEF;
  margin-bottom: 2rem;
  padding: 3rem 3rem;
}