$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 769px)',
 'lg': 'screen and (max-width: 992px)',
 //  header用
 'xl': 'screen and (max-width: 1310px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ====================

body {
  font-family: sans-serif;
  font-size: 20px;
  @include mq(lg){
    font-size: 15px;
  }
  @include mq(md){
    font-size: 5px;
  }
}
.wrap{
  overflow: hidden;
}

#showloading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.hidden {
display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
  .left_h{
    width: 82%;
    height: 80px;
    float: left;
    nav{
      ul {
        padding-left: -50px;
        li{
          list-style: none;
          display: inline-block;
          font-size: 1.0rem;
          @include mq(xl){
            font-size: 0.65rem;
            // padding: 0 0.3rem;
          }
          @include mq(lg){
            font-size: 0.3rem;
          }
          // @include mq(sm){
          //   font-size: 0.2rem;
          // }
          a{
            text-decoration: none;
            color: #363636;
            line-height: 80px;
            display: block;
            padding: 0 0.5rem;
            // font-size: 1.0rem;
            // @include mq(xl){
            //   // font-size: 0.75rem;
            //   padding: 0 0.3rem;
            // }
            // @include mq(lg){
            //   font-size: 1px;
            // }
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

.right_h{
  width: 18%;
  // @include mq(xl){
  //     width: 5.5rem;
  //   }
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}
label {
    display: inline-block;
    float: right;
    margin-left: 5px;
    width: 7rem;
    @include mq(xl){
      width: 5.0rem;
    }
    @include mq(lg){
      width: 4rem;
    }
    line-height: 80px;
    // margin: 0 0 4px 0;
    // padding : 15px;
    // line-height: 1;
    color :#000;
    background: #C3C3C3;
    cursor :pointer;
    a{
      text-decoration: none;
      color: #363636;
    }
}

input {
    display: none;
}
.right_h ul {
    position: absolute;
    top: 80px;
    right: 0;
    width: 7rem;
    @include mq(xl){
      width: 5.0rem;
    }
    @include mq(lg){
      width: 4rem;
    }
    margin: 0;
    padding: 0;
    background :#C3C3C3;
    list-style: none;
}

.right_h li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

#type1:checked ~ #links1 li{
    height: 70px;
    opacity: 1;
    cursor :pointer;
    // padding: 0.3rem 0;
}

}

// button
// .open{
//   margin-top: 80px;
// }

/* ========== main-visual ========== */
.main-visual{
  z-index: 0 !important;
  width: 100%;
  height: 800px;
  background-image: url(../image/header.png);
  background-size: cover;
  background-position: right bottom;
  color: #fff;
  position: relative;
  h1{
    color: #fff;
    padding-top: 7rem;
    padding-left: 5rem;
    font-size: 3rem;
    z-index: 1;
    line-height: 8rem;
    font-weight: normal;
  }
  #englishTitle{
    line-height: normal;
  }
  #englishTitle2{
    padding-top: 3rem;
    padding-left: 5rem;
  }
  h3{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    z-index: 1;
    font-weight: normal;
    .second_line{
      margin-left: 5rem;
    }
    .third_line{
      margin-left: 8rem;
    }
  }
}

/* ========== common section title ========== */
// [id^="nomalContentsTitle"]  {
  .section_title{
  color: #363636;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  // &:before, &:after{
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   display: inline-block;
  //   width: 45px;
  //   height: 1px;
  //   background-color: black;
  // }
  // &:before{
  //   left: 30rem;
  // }
  // &:after{
  //   right: 30rem;
  // }
}

/* ========== aboutus ========== */
#aboutus p{
  display: block;
  background: #E4EBEF;
  padding: 50px 100px;
}

/* ========== works ========== */
#works {
  img{
    width: 33rem;
    height: 33rem;
    padding-bottom: 2rem;
  }
  .frame{
    border: 1px solid #707070;
    padding: 3rem 0;
    .container{
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .moreBtn{
      text-align: center;
      p{
        text-decoration: none;
        color: #363636;
        background: #CFCFCF;
        display: block;
        width: 15%;
        padding: 1.3rem 0;
        margin: 0 auto;
        cursor: pointer;
        &:hover{
          opacity: 0.7;
        }
        // p{
        //   background: #CFCFCF;
        //   padding: 1rem 5rem;
        //   margin-top: 3rem;
        // }
      }
    }
  }
}

/* ========== curriculum ========== */
#curriculum {
  .bg-gray{
    text-align: center;
    background: #E4EBEF;
    p{
      display: block;
      padding: 50px 100px;
      text-align: left;
    }
    img{
      width: 70%;
      padding-bottom: 3rem;
    }
  }
}

/* ========== studios ========== */
.bg_blue{
  background: #E4EBEF;
  padding: 2rem 6%;
}
#nomalStudios, #englishStudios{
  flex-wrap: wrap;
  justify-content: space-between;
}
#nomalStudios > div {
  margin: 1em 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 25rem;
  display: inline-block;
  text-align: center;
  padding-bottom: 0.8rem;
}
#englishStudios > div {
  margin: 1em 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 25rem;
  display: inline-block;
  text-align: center;
  padding-bottom: 0.8rem;
}

.studio-title {
  font-weight: bold;
  text-decoration: none;
  color: #363636;
  font-size: 1rem;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
  text-decoration: none;
  color: #363636;
  font-size: 1rem;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}
pre#result {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 9px;
}

.studio-photo1,.studio-photo2{
  width: 25rem;
  height: 18rem;
  object-fit: cover;
}

// ========== faculty ==========
#nomalFaculty, #englishFaculty{
  border: 1px solid #707070;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
  color: #2E2E2E;
}
#nomalFaculty > div {
  margin: 1em 0;
  padding: 1rem;
  min-height: 3em;
  width: 33%;
  display: inline-block;
  overflow: hidden;
}
#englishFaculty > div {
  margin: 1em 0;
  padding: 1rem;
  min-height: 3em;
  width: 33%;
  display: inline-block;
}
.text-box{
  width: 67%;
  float: left;
}
.faculty-image,.faculty-image-en{
  float: left;
  width: 33%;
  // height: 30%;
}
#faculty span{
  display: inline-block;
  margin: 0.2rem 1rem;
  font-size: 0.8rem;
}
.faculty-name, .faculty-name-en{
    font-weight: bold;
}
#faculty span.faculty-name-2, .faculty-name-en2{
  display: block;
}
.faculty-link a{
  color: #2E2E2E;
  text-decoration: none;
  &:hover{
    opacity: 0.5;
  }
}
.faculty-link-en a{
  color: #2E2E2E;
  text-decoration: none;
  &:hover{
    opacity: 0.5;
  }
}

// ========== column ==========
#column{
  text-align: center;
}
#nomalLink,#englishLink{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 2rem;
}
#column > div > div{
  width: 23rem;
  display: inline-block;
  text-align: center;
  margin: 2rem;
}
.link-image{
  width: 23rem;
  height: 23rem;
}
.link-title{
  display: inline-block;
  color: #2E2E2E;
  text-decoration: none;
  padding: 0.5rem 0;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}

/* ========== admission ==========*/
#nomalAdmissionText ,#englishAdmissionText ,#easyAdmissionText{
  background: #E4EBEF;
  padding: 50px 100px;
  width: 100%;
}
#nomalAdmissionText,#englishAdmissionText,#easyAdmissionText h4{
  font-size: 1.5rem;
  margin-top: 1rem;
}
#nomalAdmissionText,#englishAdmissionText,#easyAdmissionText p, ol, ul{
  padding-left: 3rem;
  /* padding-bottom: 20px; */
}
#nomalAdmissionText,#englishAdmissionText,#easyAdmissionText > img{
  display: block;
  // width: 70%;
  margin: 0.3rem auto 1rem;
}
#nomalAdmissionText,#englishAdmissionText,#easyAdmissionText a{
  color: #2E2E2E;
  text-decoration: none;
}
#adcontent img{
  display: block;
  margin: 0.5rem auto 1rem;
}
#adcontenten img{
  display: block;
  margin: 0.5rem auto 1rem;
}
#adcontenten a{
  text-decoration: none;
  color: #2E2E2E;
}
#adcontenteas img{
  display: block;
  margin: 0.5rem auto 1rem;
}

/* ========== question ========== */
#question #nomalQText,#englishQText,#easyQText{
  background: #E4EBEF;
  padding: 3rem 5rem;
  h4{
    margin-top: 1rem;
  }
  a{
    text-decoration: none;
    color: #2E2E2E;
    &:hover{
      opacity: 0.5;
    }
  }
}

// ========== access =========
#access{

}

// ========== AcText ==========
#nomalAcText, #englishAcText, #easyAcText{
  padding: 2rem 3rem;
  color: #2E2E2E;
  ul{
    list-style: none;
    li{
      p{

      }
    }
  }
  h4, > p{
    padding-left: 3rem;
  }
  h4{
    padding-top: 0.3rem;
  }
}


/* ========== footer ========== */
footer{
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center!important;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
}