body {
  font-family: sans-serif;
  font-size: 20px;
}

#showloading {
  width: 100%;
  height: 100vh;
  background-color: #073a49;
  position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
}

header .left_h {
  width: 80%;
  height: 80px;
  float: left;
}

header .left_h nav ul {
  padding-left: -50px;
}

header .left_h nav ul li {
  list-style: none;
  display: inline-block;
}

header .left_h nav ul li a {
  text-decoration: none;
  color: #363636;
  line-height: 80px;
  display: block;
  padding: 0 10px;
  font-size: 1.0rem;
}

header .left_h nav ul li a:hover {
  opacity: 0.5;
}

header .right_h {
  width: 20%;
  height: 80px;
  float: right;
  text-align: center;
}

header .right_h a {
  text-decoration: none;
  color: #363636;
  line-height: 80px;
  display: inline-block;
  width: 48%;
  background: #C3C3C3;
  font-size: 1.0rem;
  font-weight: bold;
}

header .right_h a:hover {
  opacity: 0.5;
}

.open {
  margin-top: 80px;
}

/* ========== main-visual ========== */
.main-visual {
  width: 100%;
  height: 800px;
  background-image: url(../image/header.png);
  background-size: cover;
  color: #fff;
  position: relative;
}

.main-visual h1 {
  color: #fff;
  padding-top: 150px;
  padding-left: 134px;
  z-index: 1;
}

.main-visual h3 {
  padding-top: 20rem;
  padding-left: 50rem;
  font-size: 2rem;
  z-index: 1;
}

.main-visual h3 .second_line {
  margin-left: 3rem;
}

.main-visual h3 .third_line {
  margin-left: 6rem;
}

/* ========== common section title ========== */
.section_title {
  color: #363636;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.section_title:before, .section_title:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

.section_title:before {
  left: 30rem;
}

.section_title:after {
  right: 30rem;
}

/* ========== aboutus ========== */
#aboutus p {
  display: block;
  background: #E4EBEF;
  padding: 50px 100px;
}

/* ========== works ========== */
#works img {
  width: 33rem;
  height: 33rem;
  padding-bottom: 2rem;
}

#works .frame {
  border: 1px solid #707070;
  padding: 3rem 0;
}

#works .frame .container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#works .frame .moreBtn {
  text-align: center;
}

#works .frame .moreBtn a {
  text-decoration: none;
  color: #363636;
  display: inline-block;
  margin: 0 auto;
}

#works .frame .moreBtn a:hover {
  opacity: 0.7;
}

#works .frame .moreBtn a p {
  background: #CFCFCF;
  padding: 1rem 5rem;
  margin-top: 3rem;
}

/* ========== curriculum ========== */
#curriculum .bg-gray {
  text-align: center;
  background: #E4EBEF;
}

#curriculum .bg-gray p {
  display: block;
  padding: 50px 100px;
  text-align: left;
}

#curriculum .bg-gray img {
  width: 70%;
  padding-bottom: 3rem;
}

/* ========== studios ========== */
.bg_blue {
  background: #E4EBEF;
  padding: 2rem 6%;
}

#nomalStudios, #englishStudios {
  flex-wrap: wrap;
  justify-content: space-between;
}

#nomalStudios > div {
  margin: 1em 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 30%;
  display: inline-block;
  text-align: center;
  padding-bottom: 0.8rem;
}

#englishStudios > div {
  margin: 1em 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 30%;
  display: inline-block;
  text-align: center;
  padding-bottom: 0.8rem;
}

.studio-title {
  font-weight: bold;
  text-decoration: none;
  color: #363636;
  font-size: 1rem;
}

.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
  text-decoration: none;
  color: #363636;
  font-size: 1rem;
}

pre#result {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 9px;
}

.studio-photo1, .studio-photo2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#nomalFaculty, #englishFaculty {
  border: 1px solid #707070;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
}

#nomalFaculty > div {
  margin: 1em 0;
  padding: 1rem;
  min-height: 3em;
  width: 33%;
  display: inline-block;
  overflow: hidden;
}

#englishFaculty > div {
  margin: 1em 0;
  padding: 1rem;
  min-height: 3em;
  width: 33%;
  display: inline-block;
}

.text-box {
  width: 67%;
  float: left;
}

.faculty-image, .faculty-image-en {
  float: left;
  width: 33%;
}

#faculty span {
  display: inline-block;
  margin: 0.2rem 1rem;
  font-size: 0.8rem;
}

.faculty-name, .faculty-name-en {
  font-weight: bold;
}

#faculty span.faculty-name-2, .faculty-name-en2 {
  display: block;
}

#column {
  text-align: center;
}

#nomalLink {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

#column > div > div {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 1.2rem;
}

.link-image {
  width: 400px;
  height: 400px;
}

.link-title {
  display: inline-block;
  color: #2E2E2E;
  text-decoration: none;
  padding: 0.5rem 0;
}

/* ========== admission ==========*/
#admission #nomalAdmissionText {
  background: #E4EBEF;
  padding: 50px 100px;
}

#admission #nomalAdmissionText h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

#admission #nomalAdmissionText p, ol, ul {
  padding-left: 3rem;
  /* padding-bottom: 20px; */
}

#admission #nomalAdmissionText img {
  display: block;
  width: 70%;
  margin: 0.3rem auto;
}

/* ========== question ========== */
#question #nomalQText {
  background: #E4EBEF;
  padding: 3rem 5rem;
}

#question #nomalQText h4 {
  margin-top: 1rem;
}

#access .frame {
  border: 1px solid #707070;
  margin-bottom: -0.5rem;
}

/* ========== footer ========== */
footer {
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
}

footer p {
  text-align: center !important;
  color: #FFFFFF;
  margin-bottom: 0.3rem;
}
