$breakpoints: (
 'sm': 'screen and (min-width: 576px)',
 'md': 'screen and (min-width: 768px)',
 'lg': 'screen and (min-width: 992px)',
 'xl': 'screen and (min-width: 1200px)'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$textCol: #363636;
$purple: #2B2845;



body{
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 10px;
  font-weight: normal;
  @include mq(lg){
    font-size: 12px;
  }
}
.wrap{
  overflow: hidden;
}

#showloading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.hidden {
display: none;
}


// ========== header ==========
header{
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 10;
  #nav-drawer {
    position: relative;
    padding-left: 30px;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    @include mq(lg){
      display: none;
    }
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: $purple;
    display: block;
    content: '';
    cursor: pointer;
    margin-top: 30px;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  @media screen and (max-width:992px) {
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 70%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100vh;
    background: $purple;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }
}

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }



  .left_h{
    width: 60%;
    float: left;
    @include mq(lg){
      width: 80%;
    }
    nav{
      ul{
        li{
          list-style: none;
          @include mq(lg){
            display: inline-block;
          }
          a{
            text-decoration: none;
            font-size: 1.2rem;
            color: #fff;
            @include mq(lg){
              color: $textCol;
              font-size: 0.5rem;
              line-height: 80px;
            }
            @include mq(xl){
              color: $textCol;
              font-size: 0.9rem;
              line-height: 80px;
            }
            h3{
              margin-top: 1rem;
              padding-left: 1rem;
              cursor: pointer;
            &:hover{
              opacity: 0.5;
            }
              @include mq(lg){
                margin: 0;
              }
            }
          }
        }
      }
    }

  }
  .right_h{
    width: 40%;
    float: right;
    font-weight: bold;
    @include mq(lg){
      width: 20%;
    }
label {
    display: inline-block;
    width: 3.7rem;
    @include mq(sm){
      width: 5.0rem;
    }
    text-align: center;
    float: right;
    color :$textCol;
    background: #C3C3C3;
    line-height: 80px;
    margin-left: 2%;
    font-size: 1rem;
    cursor :pointer;
    a{
      text-decoration: none;
      color: $textCol;
    }
    p{
      cursor: pointer;
            &:hover{
              opacity: 0.5;
            }
    }
}
input {
    display: none;
}
ul {
    position: absolute;
    top: 80px;
    right: 0;
    width: 3.7rem;
    @include mq(sm){
      width: 5.0rem;
    }
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background :#C3C3C3;
    list-style: none;
    text-align: center;
}

li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#type1:checked ~ #links1 li{
    height: 60px;
    opacity: 1;
    cursor :pointer;
    // padding: 0.3rem 0;
}
  }
}


/* ========== main-visual ========== */
.main-visual{
  z-index: 0;
  width: 100%;
  height: 600px;
  @include mq(lg){
    height: 800px;
  }
  background-image: url(../image/header.png);
  background-size: cover;
  background-position: 82% 60%;
  color: #fff;
  position: relative;
  h1{
    color: #fff;
    padding-top: 7rem;
    padding-left: 2rem;
    font-size: 1.4rem;
    z-index: 1;
    line-height: 4rem;
    font-weight: normal;
    @include mq(lg){
      padding-top: 10rem;
      padding-left: 4rem;
      font-size: 2.8rem;
      line-height: 7rem;
    }
  }
  #englishTitle{
    line-height: normal;
  }
  #englishTitle2{
    padding-top: 3rem;
    padding-left: 5rem;
  }
  .br{
    @include mq(lg){
      display: none;
    }
  }
  h3{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 0.8rem;
    z-index: 1;
    font-weight: normal;
    @include mq(lg){
      font-size: 1.3rem;
      letter-spacing: 0.5rem;
    }
    .second_line{
      margin-left: 2rem;
    }
    .third_line{
      margin-left: 3rem;
    }
  }
}


/* ========== common section title ========== */
// [id^="nomalContentsTitle"]  {
  .section_title{
  color: $textCol;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  @include mq(lg){
    margin-top: 10rem;
    margin-bottom: 6rem;
    font-size: 3rem;
  }
}

/* ========== aboutus ========== */
#aboutus p{
  display: block;
  background: #E4EBEF;
  padding: 1rem 2rem;
  @include mq(lg){
    padding: 3rem 6rem;
    font-size: 1.2rem;
  }
}

/* ========== works ========== */
#works {
  .frame{
    border: 1px solid #707070;
    padding: 3rem 0;
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .item{
        position: relative;
        display: block;
        width: 70%;
        @include mq(md){
          width: 40%;
        }
        margin-bottom: 2rem;
        &:before{
          content: "";
          display: block;
          padding-top: 100%;
        }
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          object-fit: cover;
        }
      }
    }
    .moreBtn{
      text-align: center;
      p{
        text-decoration: none;
        color: #363636;
        background: #CFCFCF;
        display: block;
        font-size: 0.8rem;
        width: 10rem;
        padding: 1.5rem;
        margin: 0 auto;
        @include mq(lg){
          font-size: 1.5rem;
          width: 18rem;
        }
        cursor: pointer;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
}

/* ========== curriculum ========== */
#curriculum {
  .bg-gray{
    text-align: center;
    background: #E4EBEF;
    padding: 1rem 2rem;
    p{
      text-align: left;
      margin-bottom: 2rem;
      @include mq(lg){
        padding: 3rem 6rem;
        font-size: 1.2rem;
      }
    }
    img{
      width: 70%;
      padding-bottom: 3rem;
    }
  }
}

/* ========== studios ========== */
.bg_blue{
  background: #E4EBEF;
  padding: 2rem 0.5rem;
}
#nomalStudios, #englishStudios{
  flex-wrap: wrap;
  justify-content: space-around;
}
#nomalStudios > div {
  margin: 0.5rem 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 100%;
  display: inline-block;
  text-align: center;
  @include mq(md){
    width: 30%;
  }
}
#englishStudios > div {
  margin: 0.5rem 0;
  background: #FFFFFF;
  min-height: 3em;
  width: 100%;
  display: inline-block;
  text-align: center;
  @include mq(md){
    width: 30%;
  }
}

.studio-title {
  font-weight: bold;
  text-decoration: none;
  color: #363636;
  font-size: 0.8rem;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  @include mq(md){
    font-size: 0.6rem;
  }
  @include mq(lg){
    font-size: 1rem;
  }
  @include mq(xl){
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
  text-decoration: none;
  color: #363636;
  font-size: 1rem;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  @include mq(md){
    font-size: 0.6rem;
  }
  @include mq(lg){
    font-size: 1rem;
  }
  @include mq(xl){
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
}
pre#result {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 9px;
}

.studio-photo1,.studio-photo2{
  width: 100%;
  height: 6rem;
  object-fit: cover;
  @include mq(md){
    height: 7rem;
  }
  @include mq(lg){
    height: 12rem;
  }
  @include mq(xl){
    height: 15rem;
  }
}

// ========== faculty ==========
#nomalFaculty, #englishFaculty{
  border: 1px solid #707070;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 2rem;
  color: #2E2E2E;
}
#nomalFaculty > div {
  margin: 1em 0;
  width: 100%;
  height: 9rem;
  display: inline-block;
  overflow: hidden;
  @include mq(md){
    width: 40%;
    height: 10rem;
  }
  @include mq(lg){
    width: 30%;
    height: 10rem;
  }
}
#englishFaculty > div {
  margin: 1em 0;
  width: 100%;
  height: 9rem;
  display: inline-block;
  overflow: hidden;
  @include mq(md){
    width: 40%;
    height: 10rem;
  }
  @include mq(lg){
    width: 30%;
    height: 10rem;
  }
}
.text-box{
  width: 67%;
  float: left;
}
.faculty-image,.faculty-image-en{
  float: left;
  width: 33%;
}
#faculty span{
  display: inline-block;
  margin: 0.2rem 1rem;
  font-size: 0.5rem;
  @include mq(md){
    // font-size: 0.1rem;
  }
  @include mq(lg){
    font-size: 0.7rem;
  }
}
.faculty-name, .faculty-name-en{
    font-weight: bold;
}
#faculty span.faculty-name-2, .faculty-name-en2{
  display: block;
}
.faculty-link a{
  color: #2E2E2E;
  text-decoration: none;
  &:hover{
    opacity: 0.5;
  }
}
.faculty-link-en a{
  color: #2E2E2E;
  text-decoration: none;
  &:hover{
    opacity: 0.5;
  }
}

// ========== column ==========
#column{
  text-align: center;
}
#nomalLink,#englishLink{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 2rem;
}
#column > div > div{
  width: 10rem;
  display: inline-block;
  text-align: center;
  margin: 2rem;
  @include mq(md){
    width: 23rem;
  }
}
.link-image{
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  @include mq(md){
    width: 23rem;
    height: 23rem;
  }
}
.link-title{
  display: inline-block;
  color: #2E2E2E;
  text-decoration: none;
  padding: 0.5rem 0;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  @include mq(md){
   font-size: 1.5rem;
  }
}

/* ========== admission ==========*/
#admission{
#nomalAdmissionText, #englishAdmissionText, #easyAdmissionText{//#nomal ,#english ,#easyAdmissionText
    padding: 1rem 2rem;
    background: #E4EBEF;
    @include mq(md){
      padding: 2rem 4rem;
      font-size: 1.1rem;
    }
    @include mq(lg){
      padding: 2rem 4rem;
      font-size: 1.2rem;
    }
    h4{
      padding-bottom: 0.5rem;
    }
    h5{
      padding: 0.3rem 0 0.1rem;
    }
    div{
      img{
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
      }
    }
    a{
      color: $textCol;
      &:hover{
        opacity: 0.5;
      }
    }
  }
}

// 問題あり
/* ========== admission ==========*/
// #nomalAdmissionText ,#englishAdmissionText ,#easyAdmissionText{
//   background: #E4EBEF;
//   padding: 50px 100px;
//   width: 100%;
// }
// #nomalAdmissionText,#englishAdmissionText,#easyAdmissionText h4{
//   font-size: 1.5rem;
//   margin-top: 1rem;
// }
// #nomalAdmissionText,#englishAdmissionText,#easyAdmissionText p, ol, ul{
//   padding-left: 3rem;
//   /* padding-bottom: 20px; */
// }
// #nomalAdmissionText,#englishAdmissionText,#easyAdmissionText > img{
//   display: block;
//   // width: 70%;
//   margin: 0.3rem auto 1rem;
// }
// #nomalAdmissionText,#englishAdmissionText,#easyAdmissionText a{
//   color: #2E2E2E;
//   text-decoration: none;
// }
// #adcontent img{
//   display: block;
//   margin: 0.5rem auto 1rem;
// }
// #adcontenten img{
//   display: block;
//   margin: 0.5rem auto 1rem;
// }
// #adcontenten a{
//   text-decoration: none;
//   color: #2E2E2E;
// }
// #adcontenteas img{
//   display: block;
//   margin: 0.5rem auto 1rem;
// }

/* ========== question ========== */
#question{
  >div{
    padding: 1rem 2rem;
    background: #E4EBEF;
    @include mq(md){
      padding: 2rem 4rem;
      font-size: 1.1rem;
    }
    @include mq(lg){
      padding: 2rem 4rem;
      font-size: 1.3rem;
    }
    a{
      cursor: pointer;
            &:hover{
              opacity: 0.5;
            }
    }
  }
}



// #question #nomalQText,#englishQText,#easyQText{
//   background: #E4EBEF;
//   padding: 3rem 5rem;
//   h4{
//     margin-top: 1rem;
//   }
//   a{
//     text-decoration: none;
//     color: #2E2E2E;
//     &:hover{
//       opacity: 0.5;
//     }
//   }
// }

// ========== access =========
#access{
  iframe{
    width: 100%;
    height: 400px
  }
}

// ========== AcText ==========
#nomalAcText, #englishAcText, #easyAcText{
  padding: 2rem 3rem;
  color: #2E2E2E;
  ul{
    list-style: none;
    li{
      p{
        font-size: 0.5rem;
        @include mq(lg){
          font-size: 1.2rem;
        }
      }
    }
  }
  h4, > p{
    padding-left: 3rem;
    @include mq(lg){
          font-size: 1.2rem;
        }
  }
  h4{
    padding-top: 0.3rem;
    @include mq(lg){
          font-size: 1.2rem;
        }
  }
}


/* ========== footer ========== */
footer{
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center!important;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
    @include mq(lg){
          font-size: 1.2rem;
        }
  }
}