@charset "UTF-8";
body {
  font-family: sans-serif;
  font-size: 20px;
}

.wrap {
  overflow: hidden;
}

#showloading {
  width: 100%;
  height: 100vh;
  background-color: #073a49;
  position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
}

header .left_h {
  width: 80%;
  height: 80px;
  float: left;
}

header .left_h nav ul {
  padding-left: 50px;
}

header .left_h nav ul li {
  list-style: none;
  display: inline-block;
}

header .left_h nav ul li a {
  text-decoration: none;
  color: #363636;
  line-height: 80px;
  display: block;
  padding: 0 0.5rem;
  font-size: 1.0rem;
}

@media screen and (max-width: 1310px) {
  header .left_h nav ul li a {
    font-size: 0.75rem;
    padding: 0 0.3rem;
  }
}

@media screen and (max-width: 992px) {
  header .left_h nav ul li a {
    font-size: 0.7rem;
  }
}

header .left_h nav ul li a:hover {
  opacity: 0.5;
}

header .right_h {
  width: 20%;
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}

header label {
  display: inline-block;
  float: right;
  margin-left: 5px;
  width: 7rem;
  line-height: 80px;
  color: #000;
  background: #C3C3C3;
  cursor: pointer;
}

@media screen and (max-width: 1310px) {
  header label {
    width: 5.5rem;
  }
}

header input {
  display: none;
}

header .right_h ul {
  position: absolute;
  top: 80px;
  right: 0;
  width: 8rem;
  margin: 0;
  padding: 0;
  background: #C3C3C3;
  list-style: none;
}

header .right_h li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header #type1:checked ~ #links1 li,
header #type2:checked ~ #links2 li {
  height: 70px;
  opacity: 1;
  cursor: pointer;
}

section {
  background: #E4EBEF;
  padding: 5rem;
}

section .first_box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

section .first_box #nomalStudios, section .first_box #englishStudios {
  width: 330px;
  float: right;
  text-align: right;
}

@media screen and (max-width: 768px) {
  section .first_box #nomalStudios, section .first_box #englishStudios {
    float: none;
  }
}

section .first_box #nomalStudios > div, section .first_box #englishStudios > div {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

section .first_box #nomalStudios > div .studio-image, section .first_box #nomalStudios > div .studio-image-en, section .first_box #englishStudios > div .studio-image, section .first_box #englishStudios > div .studio-image-en {
  width: 42px;
  height: 42px;
}

section .first_box h1 {
  font-size: 2rem;
}

section .second_box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
  /* サムネイル */
}

section .second_box .right_box {
  width: 30%;
}

section .second_box .right_box h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

section .second_box .right_box h5 {
  font-size: 1.5rem;
}

section .second_box .cp_cssslider {
  width: 65%;
  padding-top: 650px;
  /* 画像の高さ */
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  section .second_box .cp_cssslider {
    padding-top: 450px;
  }
}

@media screen and (max-width: 992px) {
  section .second_box .cp_cssslider {
    padding-top: 400px;
  }
}

section .second_box .cp_cssslider > img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

section .second_box .cp_cssslider input[name='cp_switch'] {
  display: none;
}

section .second_box .cp_cssslider label {
  margin: 15px 5px 0 5px;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0.6;
  border-radius: 3px;
}

section .second_box .cp_cssslider label:hover {
  opacity: 0.9;
}

section .second_box .cp_cssslider label img {
  display: block;
  width: 100px;
  height: 80px;
  border-radius: 2px;
}

section .second_box .cp_cssslider input[name='cp_switch']:checked + label {
  border: 2px solid #FF7043;
  opacity: 1;
}

section .second_box .cp_cssslider input[name='cp_switch'] ~ img {
  opacity: 0;
}

section .second_box .cp_cssslider input[name='cp_switch']:checked + label + img {
  opacity: 1;
}

.faculty_title {
  float: left;
}

@media screen and (max-width: 576px) {
  .faculty_title {
    float: none;
  }
}

.right_box {
  float: right;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .right_box {
    float: none;
    text-align: left;
    width: 40%;
    font-size: 4rem;
  }
}

p {
  width: 80%;
  margin: 0 auto;
}

/* ========== footer ========== */
footer {
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
}

footer p {
  text-align: center !important;
  color: #FFFFFF;
  margin-bottom: 0.3rem;
}
