$breakpoints: (
 'sm': 'screen and (min-width: 576px)',
 'md': 'screen and (min-width: 768px)',
 'lg': 'screen and (min-width: 992px)',
 'xl': 'screen and (min-width: 1200px)'
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$textCol: #363636;
$purple: #2B2845;



body{
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 10px;
  font-weight: normal;
  @include mq(lg){
    font-size: 12px;
  }
}
.wrap{
  overflow: hidden;
}

#showloading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.hidden {
display: none;
}


// ========== header ==========
header{
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 10;
  #nav-drawer {
    position: relative;
    padding-left: 30px;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    @include mq(lg){
      display: none;
    }
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: $purple;
    display: block;
    content: '';
    cursor: pointer;
    margin-top: 30px;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  @media screen and (max-width:992px) {
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 70%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100vh;
    background: $purple;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }
}

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }



  .left_h{
    width: 60%;
    float: left;
    @include mq(lg){
      width: 80%;
    }
    nav{
      ul{
        li{
          list-style: none;
          @include mq(lg){
            display: inline-block;
          }
          a{
            text-decoration: none;
            font-size: 1.2rem;
            color: #fff;
            @include mq(lg){
              color: $textCol;
              font-size: 0.5rem;
              line-height: 80px;
            }
            @include mq(xl){
              color: $textCol;
              font-size: 0.9rem;
              line-height: 80px;
            }
            h3{
              margin-top: 1rem;
              padding-left: 1rem;
              cursor: pointer;
            &:hover{
              opacity: 0.5;
            }
              @include mq(lg){
                margin: 0;
              }
            }
          }
        }
      }
    }

  }
  .right_h{
    width: 40%;
    float: right;
    font-weight: bold;
    @include mq(lg){
      width: 20%;
    }
label {
    display: inline-block;
    width: 3.7rem;
    @include mq(sm){
      width: 5.0rem;
    }
    text-align: center;
    float: right;
    color :$textCol;
    background: #C3C3C3;
    line-height: 80px;
    margin-left: 2%;
    font-size: 1rem;
    cursor :pointer;
    a{
      text-decoration: none;
      color: $textCol;
    }
}
input {
    display: none;
}
ul {
    position: absolute;
    top: 80px;
    right: 0;
    width: 3.7rem;
    @include mq(sm){
      width: 5.0rem;
    }
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background :#C3C3C3;
    list-style: none;
    text-align: center;
}

li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#type1:checked ~ #links1 li{
    height: 60px;
    opacity: 1;
    cursor :pointer;
    // padding: 0.3rem 0;
}
  }
}



// ===========  ==========

.bg-purple{
  background: #2B2845;
  padding: 2rem 3rem;
  h1,p{
    color: #fff;
  }
  h1{
    padding-bottom: 1rem;
  }
}
.grade-title{
  padding: 2rem 3rem 1rem;
  font-size: 1.2rem;
}

// common
#works1,#works2,#works3{
  padding: 2rem 2rem;
  background: #E4EBEF;
  .mainVisual{
    display: block;
    width: 45%;
    margin-bottom: 1rem;
    @include mq(md){
      width: 30%;
    }
    @include mq(lg){
      margin-bottom: 2rem;
    }
    img{
      width: 100%;
    }
  }
}
#works3{
  p{
    margin-bottom: 2rem;
  }
}



// item = content
// モーダルコンテンツ
@mixin transition {
    transition: 0.3s cubic-bezier(1,0,0,1);
}

html, body, .wrapper {
    width: 100%;
    height: 100%;
}
body {
    color: #333;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
    max-width: 100%;
    height: auto;
}

// flexbox
.flex {
    display: flex;
    &.center {
        align-items: center;
        justify-content: center;
    }
}

// コンテンツ
.content {
    max-width: 1080px;
    width: 92%;
    margin: 3em auto;
    .ttl {
        margin-bottom: 0.5em;
        padding-bottom: 0.25em;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.3;
        border-bottom: 1px solid #dedede;
    }
    p {
        margin-bottom: 1em;
        line-height: 1.7;
    }
}

// モーダル開閉チェックボックス
.modalCheck {
    display: none;
}

// メインビジュアル
.mainVisual {
    // width: 25rem;
    // height: 25rem;
    // margin-bottom: 2.5rem;

    @for $i from 1 through 36 {
      &.main#{$i}{
        .btn{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
    .main11 img{
      width: 25rem;
    }
}

// ボタン
label {
    cursor: pointer;
}
.btn {
    text-align: center;
    label {
        display: inline-block;
        @include transition;
        // transition-property: background-color, box-shadow;
        // box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
        &:hover {
            // background-color: darken($btnColor, 10%);
            // box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
            opacity: 0.5;
        }
    }
}
.modalWrap, .modalBg {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 10;
}
.modalWrap {
    opacity: 0;
    visibility: hidden;
    @include transition;
    transition-property: opacity;
    will-change: opacity;
}

// モーダル背景（ラベルクリックで閉じる）
.modalBg {
    cursor: pointer;
    opacity: 0.7;
    background-color: #000;
    z-index: 2;
    label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
}

// モーダルコンテンツ
.modalCon {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 92%;
    max-width:60rem;
    height: 86%;
    margin: auto;
    z-index: 3;
}
.modalInner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 100%;
    padding: 0 1.5em 1.5em;
    cursor: default;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
    background: #E4EBEF;
}

// モーダル閉じるボタン
.modalCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    label {
        display: inline-block;
        padding-right: 0.5em;
        color: #333;
        text-decoration: none;
        font-size: 2.5rem;
    }
}

// モーダル閉じる
.modalCheck:not(:checked) ~ .wrapper {
    > *:not(.modalWrap){
        filter: blur(0px);
    }
    .modalWrap {
        opacity:0;
        visibility: hidden;
    }
}

// モーダル開く
.modalCheck:checked ~ .wrapper {
    > *:not(.modalWrap){
        filter: blur(3px);
    }
}
$num: "";
@for $i from 0 through 36 {
  @if $i < 10 {
    $num: "0#{$i}";
  } @else {
    $num: $i;
  }
    #modal#{$num}:checked ~ .wrapper {
        #modal#{$num}Con {
            opacity: 1;
            visibility: visible;
        }
    }
}

// モーダルタイトル
.modalTtl {
    padding: 2em 0.5em 1.5em;
    font-size: 2em;
    line-height: 1.3;
    text-align: center;
}
.modalText {
  margin: 3rem;
    .modalCover {
        margin-bottom: 2rem;
        img{
          width: 100%;
          display: block;
          margin: 0 auto 1rem;
        }
    }
    h3{
      margin-bottom: 0.5rem;
    }
}

// ========== toTop ==========
a.toTop{
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  background: #2B2845;
  color: #FFFFFF;
  text-align: center;
  width: 9rem;
  padding: 1.0rem 0.3rem;
  text-decoration: none;
  &:hover{
    opacity: 0.5;
  }
}

/* ========== footer ========== */
footer{
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center!important;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
}