body {
  font-family: sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 769px) {
  body {
    font-size: 5px;
  }
}

.wrap {
  overflow: hidden;
}

#showloading {
  width: 100%;
  height: 100vh;
  background-color: #073a49;
  position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
}

header .left_h {
  width: 82%;
  height: 80px;
  float: left;
}

header .left_h nav ul {
  padding-left: -50px;
}

header .left_h nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.0rem;
}

@media screen and (max-width: 1310px) {
  header .left_h nav ul li {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 992px) {
  header .left_h nav ul li {
    font-size: 0.3rem;
  }
}

header .left_h nav ul li a {
  text-decoration: none;
  color: #363636;
  line-height: 80px;
  display: block;
  padding: 0 0.5rem;
}

header .left_h nav ul li a:hover {
  opacity: 0.5;
}

header .right_h {
  width: 18%;
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}

header label {
  display: inline-block;
  float: right;
  margin-left: 5px;
  width: 7rem;
  line-height: 80px;
  color: #000;
  background: #C3C3C3;
  cursor: pointer;
}

@media screen and (max-width: 1310px) {
  header label {
    width: 5.0rem;
  }
}

@media screen and (max-width: 992px) {
  header label {
    width: 4rem;
  }
}

header label a {
  text-decoration: none;
  color: #363636;
}

header input {
  display: none;
}

header .right_h ul {
  position: absolute;
  top: 80px;
  right: 0;
  width: 7rem;
  margin: 0;
  padding: 0;
  background: #C3C3C3;
  list-style: none;
}

@media screen and (max-width: 1310px) {
  header .right_h ul {
    width: 5.0rem;
  }
}

@media screen and (max-width: 992px) {
  header .right_h ul {
    width: 4rem;
  }
}

header .right_h li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header #type1:checked ~ #links1 li {
  height: 70px;
  opacity: 1;
  cursor: pointer;
}

.bg-purple {
  background: #2B2845;
  padding: 4rem 3rem;
}

.bg-purple h1, .bg-purple p {
  color: #fff;
}

.bg-purple h1 {
  padding-bottom: 1rem;
}

.grade-title {
  padding: 2rem 3rem 1rem;
}

#works1, #works2, #works3 {
  padding: 2rem 3rem;
  background: #E4EBEF;
}

#works1 .item, #works2 .item, #works3 .item {
  display: inline-block;
  width: 30%;
}

#works1 .item img, #works2 .item img, #works3 .item img {
  width: 100%;
}

#works3 p {
  margin-bottom: 2rem;
}

html, body, .wrapper {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1080px;
  width: 92%;
  margin: 3em auto;
}

.content .ttl {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3;
  border-bottom: 1px solid #dedede;
}

.content p {
  margin-bottom: 1em;
  line-height: 1.7;
}

.modalCheck {
  display: none;
}

.mainVisual {
  width: 25rem;
  height: 25rem;
  margin-bottom: 2.5rem;
}

.mainVisual.main1 .btn {
  width: 100%;
}

.mainVisual.main1 .btn img {
  width: 100%;
}

.mainVisual.main2 .btn {
  width: 100%;
}

.mainVisual.main2 .btn img {
  width: 100%;
}

.mainVisual.main3 .btn {
  width: 100%;
}

.mainVisual.main3 .btn img {
  width: 100%;
}

.mainVisual.main4 .btn {
  width: 100%;
}

.mainVisual.main4 .btn img {
  width: 100%;
}

.mainVisual.main5 .btn {
  width: 100%;
}

.mainVisual.main5 .btn img {
  width: 100%;
}

.mainVisual.main6 .btn {
  width: 100%;
}

.mainVisual.main6 .btn img {
  width: 100%;
}

.mainVisual.main7 .btn {
  width: 100%;
}

.mainVisual.main7 .btn img {
  width: 100%;
}

.mainVisual.main8 .btn {
  width: 100%;
}

.mainVisual.main8 .btn img {
  width: 100%;
}

.mainVisual.main9 .btn {
  width: 100%;
}

.mainVisual.main9 .btn img {
  width: 100%;
}

.mainVisual.main10 .btn {
  width: 100%;
}

.mainVisual.main10 .btn img {
  width: 100%;
}

.mainVisual.main11 .btn {
  width: 100%;
}

.mainVisual.main11 .btn img {
  width: 100%;
}

.mainVisual.main12 .btn {
  width: 100%;
}

.mainVisual.main12 .btn img {
  width: 100%;
}

.mainVisual.main13 .btn {
  width: 100%;
}

.mainVisual.main13 .btn img {
  width: 100%;
}

.mainVisual.main14 .btn {
  width: 100%;
}

.mainVisual.main14 .btn img {
  width: 100%;
}

.mainVisual.main15 .btn {
  width: 100%;
}

.mainVisual.main15 .btn img {
  width: 100%;
}

.mainVisual.main16 .btn {
  width: 100%;
}

.mainVisual.main16 .btn img {
  width: 100%;
}

.mainVisual.main17 .btn {
  width: 100%;
}

.mainVisual.main17 .btn img {
  width: 100%;
}

.mainVisual.main18 .btn {
  width: 100%;
}

.mainVisual.main18 .btn img {
  width: 100%;
}

.mainVisual.main19 .btn {
  width: 100%;
}

.mainVisual.main19 .btn img {
  width: 100%;
}

.mainVisual.main20 .btn {
  width: 100%;
}

.mainVisual.main20 .btn img {
  width: 100%;
}

.mainVisual.main21 .btn {
  width: 100%;
}

.mainVisual.main21 .btn img {
  width: 100%;
}

.mainVisual.main22 .btn {
  width: 100%;
}

.mainVisual.main22 .btn img {
  width: 100%;
}

.mainVisual.main23 .btn {
  width: 100%;
}

.mainVisual.main23 .btn img {
  width: 100%;
}

.mainVisual.main24 .btn {
  width: 100%;
}

.mainVisual.main24 .btn img {
  width: 100%;
}

.mainVisual.main25 .btn {
  width: 100%;
}

.mainVisual.main25 .btn img {
  width: 100%;
}

.mainVisual.main26 .btn {
  width: 100%;
}

.mainVisual.main26 .btn img {
  width: 100%;
}

.mainVisual.main27 .btn {
  width: 100%;
}

.mainVisual.main27 .btn img {
  width: 100%;
}

.mainVisual.main28 .btn {
  width: 100%;
}

.mainVisual.main28 .btn img {
  width: 100%;
}

.mainVisual.main29 .btn {
  width: 100%;
}

.mainVisual.main29 .btn img {
  width: 100%;
}

.mainVisual.main30 .btn {
  width: 100%;
}

.mainVisual.main30 .btn img {
  width: 100%;
}

.mainVisual.main31 .btn {
  width: 100%;
}

.mainVisual.main31 .btn img {
  width: 100%;
}

.mainVisual.main32 .btn {
  width: 100%;
}

.mainVisual.main32 .btn img {
  width: 100%;
}

.mainVisual.main33 .btn {
  width: 100%;
}

.mainVisual.main33 .btn img {
  width: 100%;
}

.mainVisual.main34 .btn {
  width: 100%;
}

.mainVisual.main34 .btn img {
  width: 100%;
}

.mainVisual.main35 .btn {
  width: 100%;
}

.mainVisual.main35 .btn img {
  width: 100%;
}

.mainVisual.main36 .btn {
  width: 100%;
}

.mainVisual.main36 .btn img {
  width: 100%;
}

.mainVisual .main11 img {
  width: 25rem;
}

label {
  cursor: pointer;
}

.btn {
  text-align: center;
}

.btn label {
  display: inline-block;
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
}

.btn label:hover {
  opacity: 0.5;
}

.modalWrap, .modalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
}

.modalWrap {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
  transition-property: opacity;
  will-change: opacity;
}

.modalBg {
  cursor: pointer;
  opacity: 0.7;
  background-color: #000;
  z-index: 2;
}

.modalBg label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.modalCon {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 92%;
  max-width: 60rem;
  height: 86%;
  margin: auto;
  z-index: 3;
}

.modalInner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  padding: 0 1.5em 1.5em;
  cursor: default;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
  background: #E4EBEF;
}

.modalCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.modalCloseBtn label {
  display: inline-block;
  padding-right: 0.5em;
  color: #333;
  text-decoration: none;
  font-size: 2em;
}

.modalCheck:not(:checked) ~ .wrapper > *:not(.modalWrap) {
  filter: blur(0px);
}

.modalCheck:not(:checked) ~ .wrapper .modalWrap {
  opacity: 0;
  visibility: hidden;
}

.modalCheck:checked ~ .wrapper > *:not(.modalWrap) {
  filter: blur(3px);
}

#modal00:checked ~ .wrapper #modal00Con {
  opacity: 1;
  visibility: visible;
}

#modal01:checked ~ .wrapper #modal01Con {
  opacity: 1;
  visibility: visible;
}

#modal02:checked ~ .wrapper #modal02Con {
  opacity: 1;
  visibility: visible;
}

#modal03:checked ~ .wrapper #modal03Con {
  opacity: 1;
  visibility: visible;
}

#modal04:checked ~ .wrapper #modal04Con {
  opacity: 1;
  visibility: visible;
}

#modal05:checked ~ .wrapper #modal05Con {
  opacity: 1;
  visibility: visible;
}

#modal06:checked ~ .wrapper #modal06Con {
  opacity: 1;
  visibility: visible;
}

#modal07:checked ~ .wrapper #modal07Con {
  opacity: 1;
  visibility: visible;
}

#modal08:checked ~ .wrapper #modal08Con {
  opacity: 1;
  visibility: visible;
}

#modal09:checked ~ .wrapper #modal09Con {
  opacity: 1;
  visibility: visible;
}

#modal10:checked ~ .wrapper #modal10Con {
  opacity: 1;
  visibility: visible;
}

#modal11:checked ~ .wrapper #modal11Con {
  opacity: 1;
  visibility: visible;
}

#modal12:checked ~ .wrapper #modal12Con {
  opacity: 1;
  visibility: visible;
}

#modal13:checked ~ .wrapper #modal13Con {
  opacity: 1;
  visibility: visible;
}

#modal14:checked ~ .wrapper #modal14Con {
  opacity: 1;
  visibility: visible;
}

#modal15:checked ~ .wrapper #modal15Con {
  opacity: 1;
  visibility: visible;
}

#modal16:checked ~ .wrapper #modal16Con {
  opacity: 1;
  visibility: visible;
}

#modal17:checked ~ .wrapper #modal17Con {
  opacity: 1;
  visibility: visible;
}

#modal18:checked ~ .wrapper #modal18Con {
  opacity: 1;
  visibility: visible;
}

#modal19:checked ~ .wrapper #modal19Con {
  opacity: 1;
  visibility: visible;
}

#modal20:checked ~ .wrapper #modal20Con {
  opacity: 1;
  visibility: visible;
}

#modal21:checked ~ .wrapper #modal21Con {
  opacity: 1;
  visibility: visible;
}

#modal22:checked ~ .wrapper #modal22Con {
  opacity: 1;
  visibility: visible;
}

#modal23:checked ~ .wrapper #modal23Con {
  opacity: 1;
  visibility: visible;
}

#modal24:checked ~ .wrapper #modal24Con {
  opacity: 1;
  visibility: visible;
}

#modal25:checked ~ .wrapper #modal25Con {
  opacity: 1;
  visibility: visible;
}

#modal26:checked ~ .wrapper #modal26Con {
  opacity: 1;
  visibility: visible;
}

#modal27:checked ~ .wrapper #modal27Con {
  opacity: 1;
  visibility: visible;
}

#modal28:checked ~ .wrapper #modal28Con {
  opacity: 1;
  visibility: visible;
}

#modal29:checked ~ .wrapper #modal29Con {
  opacity: 1;
  visibility: visible;
}

#modal30:checked ~ .wrapper #modal30Con {
  opacity: 1;
  visibility: visible;
}

#modal31:checked ~ .wrapper #modal31Con {
  opacity: 1;
  visibility: visible;
}

#modal32:checked ~ .wrapper #modal32Con {
  opacity: 1;
  visibility: visible;
}

#modal33:checked ~ .wrapper #modal33Con {
  opacity: 1;
  visibility: visible;
}

#modal34:checked ~ .wrapper #modal34Con {
  opacity: 1;
  visibility: visible;
}

#modal35:checked ~ .wrapper #modal35Con {
  opacity: 1;
  visibility: visible;
}

#modal36:checked ~ .wrapper #modal36Con {
  opacity: 1;
  visibility: visible;
}

.modalTtl {
  padding: 2em 0.5em 1.5em;
  font-size: 2em;
  line-height: 1.3;
  text-align: center;
}

.modalText {
  margin: 3rem;
}

.modalText .modalCover {
  margin-bottom: 2rem;
}

.modalText .modalCover img {
  width: 100%;
  display: block;
  margin: 0 auto 1rem;
}

.modalText h3 {
  margin-bottom: 0.5rem;
}

a.toTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #2B2845;
  color: #FFFFFF;
  text-align: center;
  width: 12rem;
  padding: 1.0rem 0.3rem;
  text-decoration: none;
}

a.toTop:hover {
  opacity: 0.5;
}

/* ========== footer ========== */
footer {
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
}

footer p {
  text-align: center !important;
  color: #FFFFFF;
  margin-bottom: 0.3rem;
}
