$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
 //  header用
 'xl': 'screen and (max-width: 1310px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ====================

body {
  font-family: sans-serif;
  font-size: 20px;
}
// .wrap{
//   overflow: hidden;
// }

#showloading {
width: 100%;
height: 100vh;
background-color: #073a49;
position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.hidden {
display: none;
}

/*========== header nav ==========*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 80px;
  z-index: 10;
  .left_h{
    width: 80%;
    height: 80px;
    float: left;
    nav{
      ul {
        padding-left: 50px;
        li{
          list-style: none;
          display: inline-block;
          a{
            text-decoration: none;
            color: #363636;
            line-height: 80px;
            display: block;
            padding: 0 0.5rem;
            font-size: 1.0rem;
            @include mq(xl){
              font-size: 0.75rem;
              padding: 0 0.3rem;
            }
            @include mq(lg){
              font-size: 0.7rem;
            }
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

.right_h{
  width: 20%;
  height: 80px;
  float: right;
  text-align: center;
  position: relative;
}
label {
    display: inline-block;
    float: right;
    margin-left: 5px;
    width: 7rem;
    @include mq(xl){
      width: 5.5rem;
    }
    line-height: 80px;
    // margin: 0 0 4px 0;
    // padding : 15px;
    // line-height: 1;
    color :#000;
    background: #C3C3C3;
    cursor :pointer;
}

input {
    display: none;
}
.right_h ul {
    position: absolute;
    top: 80px;
    right: 0;
    width: 8rem;
    margin: 0;
    padding: 0;
    background :#C3C3C3;
    list-style: none;
}

.right_h li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#type1:checked ~ #links1 li,
#type2:checked ~ #links2 li {
    height: 70px;
    opacity: 1;
    cursor :pointer;
    // padding: 0.3rem 0;
}

}
// button
// .open{
//   margin-top: 80px;
// }


.bg-purple{
  background: #2B2845;
  padding: 4rem 3rem;
  h1,p{
    color: #fff;
  }
  h1{
    padding-bottom: 1rem;
  }
}
.grade-title{
  padding: 2rem 3rem 1rem;
}

// common
#works1,#works2,#works3{
  padding: 2rem 3rem;
  background: #E4EBEF;
  .item{
    display: inline-block;
    width: 30%;
    img{
      width: 100%;
    }
  }
}
#works3{
  p{
    margin-bottom: 2rem;
  }
}



// item = content
// モーダルコンテンツ
@mixin transition {
    transition: 0.3s cubic-bezier(1,0,0,1);
}

html, body, .wrapper {
    width: 100%;
    height: 100%;
}
body {
    color: #333;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
    max-width: 100%;
    height: auto;
}

// flexbox
.flex {
    display: flex;
    &.center {
        align-items: center;
        justify-content: center;
    }
}

// コンテンツ
.content {
    max-width: 1080px;
    width: 92%;
    margin: 3em auto;
    .ttl {
        margin-bottom: 0.5em;
        padding-bottom: 0.25em;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.3;
        border-bottom: 1px solid #dedede;
    }
    p {
        margin-bottom: 1em;
        line-height: 1.7;
    }
}

// モーダル開閉チェックボックス
.modalCheck {
    display: none;
}

// メインビジュアル
.mainVisual {
    width: 25rem;
    height: 25rem;
    margin-bottom: 2.5rem;

    @for $i from 1 through 36 {
      &.main#{$i}{
        .btn{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
    .main11 img{
      width: 25rem;
    }
}

// ボタン
label {
    cursor: pointer;
}
.btn {
    text-align: center;
    label {
        display: inline-block;
        @include transition;
        // transition-property: background-color, box-shadow;
        // box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
        &:hover {
            // background-color: darken($btnColor, 10%);
            // box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
            opacity: 0.5;
        }
    }
}
.modalWrap, .modalBg {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 10;
}
.modalWrap {
    opacity: 0;
    visibility: hidden;
    @include transition;
    transition-property: opacity;
    will-change: opacity;
}

// モーダル背景（ラベルクリックで閉じる）
.modalBg {
    cursor: pointer;
    opacity: 0.7;
    background-color: #000;
    z-index: 2;
    label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
}

// モーダルコンテンツ
.modalCon {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 92%;
    max-width:60rem;
    height: 86%;
    margin: auto;
    z-index: 3;
}
.modalInner {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 100%;
    padding: 0 1.5em 1.5em;
    cursor: default;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
    background: #E4EBEF;
}

// モーダル閉じるボタン
.modalCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    label {
        display: inline-block;
        padding-right: 0.5em;
        color: #333;
        text-decoration: none;
        font-size: 2em;
    }
}

// モーダル閉じる
.modalCheck:not(:checked) ~ .wrapper {
    > *:not(.modalWrap){
        filter: blur(0px);
    }
    .modalWrap {
        opacity:0;
        visibility: hidden;
    }
}

// モーダル開く
.modalCheck:checked ~ .wrapper {
    > *:not(.modalWrap){
        filter: blur(3px);
    }
}
$num: "";
@for $i from 0 through 36 {
  @if $i < 10 {
    $num: "0#{$i}";
  } @else {
    $num: $i;
  }
    #modal#{$num}:checked ~ .wrapper {
        #modal#{$num}Con {
            opacity: 1;
            visibility: visible;
        }
    }
}

// モーダルタイトル
.modalTtl {
    padding: 2em 0.5em 1.5em;
    font-size: 2em;
    line-height: 1.3;
    text-align: center;
}
.modalText {
  margin: 3rem;
    .modalCover {
        margin-bottom: 2rem;
        img{
          width: 100%;
          display: block;
          margin: 0 auto 1rem;
        }
    }
    h3{
      margin-bottom: 0.5rem;
    }
}

/* ========== footer ========== */
footer{
  width: 100%;
  background: #2B2845;
  padding: 1rem 0;
  p{
    text-align: center!important;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
}